.game-container{
    overflow: hidden;
    &-background{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        background-image: url('../../assets/forge.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(3px);
                filter: blur(3px);

        &-fade{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.3);
            z-index: -1;
        }
    }
    height: 100vh;
    // max-height: 100vh;
    // width: 100vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 15% 5%;
    grid-template-areas: 
    "infoContainer"
    "itemGrid"
    "forgeButton"
    "upgradeContainer";
    // align-content: center;
    // text-align: center;
    justify-items: center;
}