.upgrade-container{
    grid-area: upgradeContainer;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    // top:-20px;
    // border:1px solid blue;
}
