.upgrade-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 1.5px;
    &-icon-container{
        border: 2px solid rgb(87, 68, 46);
        border-radius: 50%;
        height: 45px;
        width: 45px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 2px;
        span{
            color: white;
        }
    }
    &-icon{
        width: 30px;
        height: 30px;
        margin-top: 20%;
        -webkit-filter: brightness(1.4); //drop-shadow(1px 3px);
                filter: brightness(1.4); //drop-shadow(1px 3px);
    }

    &-info{
        color:white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 55%;
        text-align: center;
        h5{
            margin-bottom: 4px;
        }
        p{
            font-size: 80%;
        }
    }
}

.upgrade-button-container{
    user-select: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:white;
    background: url('/imgs/button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 70%;
    width: 25%;
    padding-bottom: 4px;
    -webkit-transition: all 40ms linear;
    transition: all 40ms linear;

    img{
        width: 10px;
        height: 10px;
        // margin-right: 2px;
        margin-top: 2px;
    }

    &:active{
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
}