.info-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12%;
    max-height: 120px;
    width: 90vw;
    color:white;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 1.6px;
    // border: 1px solid red;
    &-money{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 4px;
        background-color: rgba(94, 47, 9, 0.699);
        border:3px solid rgba(68, 33, 4, 0.973);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &-coin-money{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &-mps{
        display:flex;
        justify-content: space-around;
        width: 38%;
        max-width: 130px;
        margin:0 auto;
        align-items: center;

    }
    &-coin-mps{
        width: 14px;
        height: 14px;
    }
}

// @media screen and (orientation: landscape){
//     .info-container{
//         height: 30vh;

//         &-mps{
//             width: 14%;
//         }
//     }       
// }

// @media (max-width:320px){
//     .info-container{
//        &-mps{
//            width: 40vw;
//        }
//     }
// }